---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import CodeModal from "../components/CodeModal.astro";
---

<Layout
  title="Gorka Crespo Bravo — Quantitative Finance Analyst"
  description="Quantitative Finance Analyst Portfolio."
>
  <Navbar />
  <main>
    <Hero />
    <Experience />
    <Projects />
  </main>
  <Contact />
  <CodeModal />
</Layout>
